[submodule "raylib-sys/raylib"]
	path = raylib-sys/raylib
	url = https://github.com/sdgoij/raylib.git
	commit = "6.0"
	shallow = true
[submodule "raylib-sys/raygui-examples"]
	path = raylib-sys/raygui-examples
	url = https://github.com/raysan5/raygui
	branch = master
